
<section class="oe_container" style="background-image:url(https://www.cybrosys.com/images/odoo-index-header-banner.png); background-repeat:no-repeat; background-size:cover;padding: 13% 0% 22% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="font-size: 35px;color: #fff;font-weight: 900;text-transform: uppercase;text-align: left;margin: 0;margin-bottom: 16px;">
            Sub Tasks in Project
        </h2>
        <h3 class="oe_slogan" style="font-size: 25px;color: #fff;font-weight: 600;text-align: left;opacity: 1;margin: 0 !important;">
            This Module Enables Sub-task feature in Project Module.
        </h3>
        <h5 class="oe_slogan" style="text-align: left;background: #fff;width: 293px;padding: 10px;color: #080808 !important;opacity: 1 !important;font-weight: 600;font-size: 20px;">
            <a style="color: #080808 !important;" href="https://www.cybrosys.com">Cybrosys Technologies</a>
        </h5>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 3% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Overview
        </h2>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
             Currently Odoo has no sub-task feature in project. This module brings "SUB-TASK" forms and its configuration for projects with configured stages.
            User can also analyse the sub tasks under the project reporting menu dynamically.
         </h3>
    </div>
</section>

<section class="oe_container" style="background-image:url(https://www.cybrosys.com/images/odoo-index-banner.png); background-repeat:no-repeat; background-size:cover;padding: 19% 0% 30% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
             Features
        </h2>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
             Sub-task Feature for Project.
         </h3>
         <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
            Sub-Task Lists Under Task.
         </h3><h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
             Sub-Task Count in Task Kanban View.
         </h3>
         <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
            Sub-Task Stages in Configuration.</h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
             Sub-Task Analysis Under Report.</h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
            Deadline Validation for Sub-Task.</h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
           Stage Validation for Sub-Task.</h3>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Sub Task Configuration
        </h2>
        <h3>Project -> Configuration -> Sub Task Stages</h3>
        <h3 class="oe_slogan" style="text-align: left;padding: 1% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
           Please tick marked fields to identify your final stage and cancel stage.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="task2.png" alt="" style="width: 95%;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 1% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
           If you want to create sub tasks for your project please select the option Sub Tasks.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="task3.png" alt="" style="width: 95%;"/>
        </div>
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Sub Task Creation
        </h2>
        <h3>You can create sub tasks via 2 ways.</h3>
         <h3 class="oe_slogan" style="text-align: left;padding: 1% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
          Create sub tasks directly from Menu 'Sub Task'.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="sub_task.png" alt="" style="width: 95%;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
          Create sub tasks from task itself
         </h3>
        <div class="oe_row oe_spaced">
            <img src="task.png" alt="" style="width: 95%;"/>
        </div>
         <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Sub-Task Count in Task Kanban View
        </h2>
        <h3 class="oe_slogan" style="text-align: left;padding: 1% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
          You can see the count of sub task on each task's kanaban view
         </h3>
        <div class="oe_row oe_spaced">
            <img src="count.png" alt="" style="width: 95%;"/>
        </div>
         <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
           Sub-Task Analysis
        </h2>
         <div class="oe_row oe_spaced">
            <img src="task4.png" alt="" style="width: 95%;"/>
        </div>
         <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
          Stage Validation for Sub-Task
        </h2>
        <h3 class="oe_slogan" style="text-align: left;padding: 1% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
           You cant move your task into final stage until all sub tasks are reach in final stage
         </h3>
         <div class="oe_row oe_spaced">
            <img src="task5.png" alt="" style="width: 95%;"/>
        </div>
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
         Automatically Cancel/kill the sub-task by moving parent task to 'cancel'
        </h2>
        <h3 class="oe_slogan" style="text-align: left;padding: 1% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <i class="fa fa-check" aria-hidden="true" style="color: #cd2d47;font-size: 15px;"></i>
            When you move your task into cancel stage then all sub tasks also will go to cancel stage
         </h3>
         <div class="oe_row oe_spaced">
            <img src="task6.png" alt="" style="width: 95%;"/>
        </div>
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
         Deadline Validation for Sub-Task
        </h2>
         <div class="oe_row oe_spaced">
            <img src="11.png" alt="" style="width: 95%;"/>
        </div>
    </div>
</section>

<section class="oe_container" style="padding: 1% 0% 0% 3%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Our Service
        </h2>
        <div style="display:flex;padding-top: 20px;justify-content: space-between;">
            <div style="flex-basis: 18%;">
                <a href="https://www.cybrosys.com/odoo-customization-and-installation/" target="_blank">
                    <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                            <img src="https://www.cybrosys.com/images/odoo-customization.png" style="width: 100%;border-radius: 100%;"/>
                    </div>
                     <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                        Odoo <br/>Customization
                     </h3>
                 </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.cybrosys.com/odoo-erp-implementation/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="https://www.cybrosys.com/images/odoo-erp-implementation.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Odoo <br/>Implementation
                 </h3>
                     </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.cybrosys.com/odoo-erp-integration/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="https://www.cybrosys.com/images/odoo-erp-integration.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Odoo <br/>Integration
                 </h3>
                     </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.cybrosys.com/odoo-erp-support/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="https://www.cybrosys.com/images/odoo-erp-support.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Odoo <br/>Support
                 </h3>
                     </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.cybrosys.com/hire-odoo-developer/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="https://www.cybrosys.com/images/hire-odoo-developer.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Hire <br/>Odoo Developer
                 </h3>
                     </a>
            </div>
        </div>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 0% 3%;">
     <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Our Industries
        </h2>
        <div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/best-trading-erp/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-1.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Trading
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Easily procure and sell your products.
                     </h3>
                        </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/manufacturing-erp-software/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-2.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Manufacturing
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Plan, track and schedule your operations.
                     </h3>
                        </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/restaurant-management/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-3.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Restaurant
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Run your bar or restaurant methodical.
                     </h3>
                        </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/pos/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-4.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        POS
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Easy configuring and convivial selling.
                     </h3>
                        </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/ecommerce-website/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-5.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 0px;margin-left: 16px;">
                        E-commerce & Website
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Mobile friendly, awe-inspiring product pages.
                     </h3>
                        </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/hotel-management-erp/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-6.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Hotel Management
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        An all-inclusive hotel management application.
                     </h3>
                        </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/education-erp-software/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-7.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Education
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        A Collaborative platform for educational management.
                     </h3>
                        </div>
                 </a>
            </div>
             <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.cybrosys.com/odoo/industries/service-management/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="https://www.cybrosys.com/images/odoo-index-industry-8.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Service Management
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Keep track of services and invoice accordingly.
                     </h3>
                        </div>
                 </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container" style="background-image:url(https://www.cybrosys.com/images/odoo-index-footer-bg.png); background-repeat:no-repeat; background-size:100%;padding: 13% 0% 6% 0%;">
    <div class="oe_slogan" style="margin-top:10px !important;margin-bottom: 0px;">
        <div>
            <a style="color: #5c5c5c !important;border-radius: 0;background: none;border: none;background: #fff;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 14px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com"><i class="fa fa-envelope"></i> Email us </a>
            <a style="color: #5c5c5c !important;border-radius: 0;background: none;border: none;background: #fff;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 14px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com/contact/"><i class="fa fa-phone"></i> Contact Us </a>
            <a style="color: #5c5c5c !important;border-radius: 0;background: none;border: none;background: #fff;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 14px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com/odoo-customization-and-installation/"><i class="fa fa-check-square"></i> Request Customization </a>
        </div>
        <br>
        <img src="https://www.cybrosys.com/images/logo.png" style="width: 190px; margin-bottom: 25px;margin-top: 30px;" class="center-block">
        <div>
          <a href="https://twitter.com/cybrosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
          <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
          <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px; ;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
          <a href="https://plus.google.com/106641282743045431892/about" target="_blank"><i class="fa fa-2x fa-google-plus" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
          <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
        </div>
    </div>
</section>


